<div>
    <h2 translate="adlviewerApp.adlFile.home.title">AdlFiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="adl-file.upload" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="adlviewerApp.adlFile.home.uploadLabel">
                        Upload new AdlFile
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filename"><span translate="adlviewerApp.adlFile.filename">Filename</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="size"><span translate="adlviewerApp.adlFile.size">Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateUpload"><span translate="adlviewerApp.adlFile.dateUpload">DateUpload</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span translate="adlviewerApp.adlFile.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adlFile in vm.adlFiles track by adlFile.id">
                    <td><a ui-sref="adl-file-detail({id:adlFile.id})">{{adlFile.id}}</a></td>
                    <td>{{adlFile.filename}}</td>
                    <td>{{adlFile.size}}</td>
                        <td>{{adlFile.dateUpload | date:'mediumDate'}}</td>
                    <td>{{adlFile.comment}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="adl-file-detail({id:adlFile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="adl-file.edit({id:adlFile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="adl-file.delete({id:adlFile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
